* {
    background-color: #eeeeee;
    color: #2b2a2b;
}

h1 {
    text-align: center;
    font-family: "DejaVu Sans", monospace;
}

iframe{
    width: 100%;
    min-height: 560px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}